<%- include('partials/header'); -%>

<header>
  
  <div class="headings">
    <h2>Simple App</h2>
    <h3>Upload Images</h3>
    <a href="/imagesUpload" class="btn">Upload Images</a>
    <h3>View what you uploaded</h3>
    <a href="/imagesFetch" class="btn">View Images</a>
  </div>
</header>


<%- include('partials/footer'); -%>