<%- include('partials/header'); -%>

<div class="image-gallery">
    <% if (images.length > 0) { %>
      <h2>Images</h2>
      <div class="image-list">
        <% images.forEach(image => { %>
          <div class="image-item">
            <img src="<%= image.imagePath %>" alt="Image">
          </div>
        <% }) %>
      </div>
    <% } else { %>
      <p>No images found.</p>
    <% } %>
  </div>

<%- include('partials/footer'); -%>